body {
/*	background-image: url("https://images.alphacoders.com/226/226091.jpg");*/
	background-image: url("../images/1920x1080-1255301-game-of-thrones.jpg");
	background-image: 
}

header h1 {
	color: white;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}


.container {
	margin-top: 200px;
}

.left-container {
	background-color: #fffef8;
	height: 500px;
	padding: 20px;
	box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.55);
	margin: 20px;
/*		background-image: url("https://media.giphy.com/media/TBc0YcHZgbAje/giphy.gif");*/
}







}

#image_container {
/*	background-color: white;*/
	height: 500px;/*
	color: rgba(90, 0, 9, 0.58);*/
	margin: 20px 10px 10px 10px;
}



.timer-container {
/*	background-color: red;*/
}

.score-container {
/*	background-color: orange;*/
}

.question-container {
/*	background-color: yellow;*/
}

.mult-choice-container {
/*	background-color: green;*/
}

.mult-choice-container button {
	display: block;
}


.explanation-container p{
	font-size: 13pt;
}

.row1 {
	height: 10%;

}
.row2 {
	height: 20%;
	
}
.row3 {
	height: 40%;
	
}
.row4 {
	height: 30%;
}

p {
	font-size: 14pt;
}

.gif {
/*	background-image: url("https://media.giphy.com/media/TBc0YcHZgbAje/giphy.gif");*/
	width: 555px; 
	height:370px;
	box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.55);
	margin: 20px;
}






}

.start-page-container p {
	font-size: 18pt;


}




